/* ProjectDetails1.module.css */

@import url('../font.css');

.project-details-title {
  font-family: 'Philosopher-Bold';
}

.project-details-text {
  font-family: 'Philosopher-Regular';
}

.learning-list-title {
  font-family: 'Philosopher-Bold';
  font-size: 32px;
  font-weight: bold;
}

.learning-list-text {
  font-family: 'Philosopher-Regular';
  font-size: 28px;
  font-weight: bold;
}

.white-text {
  color: white;
}
